<a href="https://colab.research.google.com/github/luanaschnaider/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**aula1**  ❄ ☑ ⚒

In [ ]:
ano = "X"
print (ano, "competição de programação dá Start")

X competição de programação dá Start

# **aula2** ⚖ ⛓ ⚔

In [ ]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
pontos_ana = 2* livro_ficcao + 5 * livro_infantil
pontos_totais = pontos_rodrigo + pontos_ana
print(f"Os pontos totais do Rodrigo são {pontos_rodrigo}")
print(f"Os pontos totais da ana são {pontos_ana}")
print(f"Os pontos totais de ana e rodrigo são {pontos_totais}")

Os pontos totais do Rodrigo são 24
Os pontos totais da ana são 46
Os pontos totais de ana e rodrigo são 70

#**aula 4** ⚓ ✈ ♥

##dia de prova

In [ ]:
P = int(input("Digite a posição da porta P (0 ou 1): "))
R = int(input("Digite a posição da porta R (0 ou 1): "))
if P == 0:
    print("C")
elif R == 1:
    print("A")
else:
    print("B")

Digite a posição da porta P (0 ou 1): 0
Digite a posição da porta R (0 ou 1): 1
C

# **aula5 - Cálculo de IMC** ⛈ ☄ ⛲

In [ ]:
peso = float(input("Digite seu peso (em kg): "))
altura = float(input("Digite sua altura (em metros): "))
imc = peso / (altura ** 2)
print(f"\nSeu IMC é: {imc:.2f}")
if imc < 18.5:
    print("Você está abaixo do peso.")
elif 18.5 <= imc < 25:
    print("Você está no peso ideal.")
elif 25 <= imc < 30:
    print("Você está com sobrepeso.")
else:
    print("Você está acima do peso.")

Digite seu peso (em kg): 75
Digite sua altura (em metros): 1.71

Seu IMC é: 25.65
Você está com sobrepeso.

# **aula6 tabuada** ♒ ⚗ ⚕

In [ ]:
def tabuada(numero):
    for contador in range(1, 11):  # Gera números de 1 a 10
        print(f"{numero} x {contador} = {numero * contador}")
numero = int(input("Digite um número para ver sua tabuada: "))
tabuada(numero)

Digite um número para ver sua tabuada: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

# **aula7 Idade** ✨ ⚡ ⚜